{% extends 'base.html' %}

{% block title %}home{% endblock %}
>
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


 <div class="container text-center col">
  <div class="row ">
    <div class="col-sm">
      <h3 class="alert text-white  alert-red border rounded mx-auto  bg-dark">Welcome to Nirmeet Enterprises</h3>
    </div>
    <div class="col-sm">
      <img class="rounded float-end" style=" mx-auto width:60px; height: 60px " src="media/products/45.png" alt="First slide">
    </div>
  </div>
     </div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner "role="listbox" style=" mx-auto width:300px; height: 300px !important;">
        <div class="carousel-item active">
            <img class="d-block mx-auto w-80 text-center col" src="media/products/q.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-80 text-center col" src="media/products/6.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-80 text-center col" src="media/products/2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-80 text-center col" src="media/products/3.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-80 text-center col" src="media/products/4.jpg" alt="fourth slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-80 text-center col" src="media/products/1.jpg" alt="fifth slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-80 text-center col" src="media/products/7.jpg" alt="sixth slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-80 text-center col" src="media/products/8.jpg" alt="seventh slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-80 text-center col" src="media/products/r.jpg" alt="eighth slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

     <div class="border rounded p-4 m-4">

            <img class="d-block width:60px; height: 60px " src="media/products/icon1.gif">
         <div class=" fs-6 text-white-50-sm bg-secondary bg-gradient">
         <h6>Hello we Nirmeet Enterprises a fast growing and leading MS,SS fabrication and Manufacturing firm.Also offers Argon welding .We promices to deliver a quality
         articles to our customers.The firm belives on trust and time bounded delivery of orders.</h6>
        <h6>We manufactures SS articles,Midical SS Equpments,Kitchen Trolly,Sofa,SS Counters,Water Coolers and so many..</h6>
     <h6>Also we provide SS and MS articles as per customer requierment.</h6>
     </div>
         </div>

 <div class="d-flex text-white justify-content-evenly  mx-auto bg-dark ">

      <div class="p-2 ml-5 bd-highlight">
      <h3> Our Services</h3>
             <h6 >SS Milk Factory Setup</h6>
             <h6>SS Welding</h6>
             <h6>Argon Welding</h6>
             <h6>SS Utility</h6>
            <h6>Stair Railing</h6>
  </div>
  <div class="p-2 ml-4 bd-highlight">
      <h3> Deals In</h3>
             <h6 >SS Furniture</h6>
             <h6>SS Counter</h6>
             <h6>SS Medical Equipments</h6>
             <h6>Kitchen Trolly</h6>
            <h6>Milk Tank</h6>
  </div>
     <div class="p-2 ml-8 bd-highlight"><h3> Contact Us</h3>
             <h6>+919370737197</h6>
             <h6>+917387786563</h6>
             <h6>+919309867823</h6>
             <h6>+919923720795</h6>
</div>

<div class="p-2 ml-8 bd-highlight"><h3>Email</h3>
             <h6>neermitenterprises20@gmail.com</h6>
            </div>


  <div class="p-2 ml-5 bd-highlight"><h3>Nirmeet Enterprises</h3>
             <h6>Behind R R College,</h6>
             <h6>Balkrushna Park,</h6>
             <h6>Sangli Road,Jath</h6>
             <h6>District Sangli, State-MH ,India</h6>
            <h6>Pin code-416 401</h6></div>

</div>
{% endblock %}